body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Arial', sans-serif;
}

.dark-mode-title{
    margin-left: 0.2rem;
    font-size: 0.9rem;
}

.calculator .card {
    max-width: 600px; /* Set the maximum width for the card */
    width: 100%; /* Make it responsive on smaller screens */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease; /* Smooth transition */
    padding-top: 1rem !important;
}

/* Add a hover effect for the shadow to become more pronounced */
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.calculator h1 {
    font-size: 2rem;
}

.calculator #inputString {
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.calculator button {
    border-radius: 0 0.25rem 0.25rem 0 !important;
}

.calculator .result-block{
    margin-top: 1rem;
}

.calculator .result {
    display: none;
    font-size: 1rem;
}

.calculator .error {
    color: red;
    font-weight: bold;
}

@media (max-width: 576px) {
    .calculator .card {
        padding: 2rem 1rem; /* Reduce card padding on small screens */
    }

    .calculator h1 {
        font-size: 1.3rem;
    }

    .form-group.d-flex {
        flex-direction: column;
    }

    .form-group.d-flex input,
    .form-group.d-flex button {
        width: 100%;
        border-radius: 0.25rem !important; /* Full rounded borders on small screens */
        margin-bottom: 10px; /* Add spacing between input and button */
    }
    
    .calculator .form-group {
        margin-bottom: 0 !important;
    }
    
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(255,255,255,0.2);
}

body.dark-mode input,
body.dark-mode button {
    background-color: #444;
    color: #ffffff;
}

body.dark-mode .error {
    color: #ff6666;
}

body.dark-mode .badge-success {
    background-color: #28a745;
}

/* Dark Mode Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

/* Rounded switch */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}